.page {
  min-width: 1100px;
  /* мы ещё не умеем делать мобильную версию сайта, */
  /* поэтому выше установлена минимальная ширина страницы */
  max-width: 1600px;
  /* выше установили ограничение по максимальной ширине */
  margin: 0 auto;
  /* выше для экранов больше 1600px отцентрировали весь контент */
  font-family: "Helvetica Neue", Arial, sans-serif;
}

.header {
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  background-color: #f2f2f2;
  display: flex;
  position: relative;
  align-items: center;
  flex-wrap: wrap;
  overflow: hidden;
}

.logo {
  width: 228px;
  height: 32px;
}

.logo__place_header {
  position: absolute;
  left: 64px;
  top: 30px;
}

.header__title {
  width: 730px;
  line-height: 96px;
  font-size: 102px;
  font-weight: 600;
  padding-left: 64px;
}

.header__subtitle {
  position: absolute;
  left: 64px;
  bottom: 30px;
  height: 25px;
  font-size: 18px;
  font-weight: normal;
  padding-bottom: 30px;
  margin-bottom: 0;
}

.header__link {
  color: #2f80ed;
  text-decoration: none;
}
.header__text {
  z-index: 3;
}
.header__main-illustration {
  position: absolute;
  width: 765px;
  height: 608px;
  bottom: 0px;
  right: 0px;
  z-index: 2;
}
.header_square-pic {
  position: absolute;
  height: 568px;
  width: 568px;
  right: 0px;
  top: 64px;
  background-color: #2f80ed;
  z-index: 1;
}

.description {
  display: flex;
  justify-content: center;
  padding-top: 100px;
}
.description__two-columns {
  width: 80%;
  display: flex;
}
.description__two-columns-brief {
  width: 175px;
  color: #2f80ed;
  font-size: 18px;
  line-height: 1.2;
  font-weight: normal;
}
.description__two-columns-main-text {
  display: flex;
  width: 80%;
  min-width: 784px;
  align-content: space-between;
}
.description__two-columns-paragraph {
  font-size: 24px;
  font-weight: normal;
  line-height: 34px;
  list-style-type: none;
  margin-bottom: 30px;
}
.description__two-columns-span-accent {
  line-height: 35px;
  font-size: 24px;
  font-weight: 600;
}

.digits {
  display: flex;
  flex-direction: column;
  margin: auto;
  align-items: center;
  padding-top: 100px;
  padding-bottom: 100px;
}
.section__title {
  width: 60%;
  text-align: center;
  line-height: 1.15;
  font-size: 60px;
  font-weight: 600;
  margin-top: 0px;
  margin-bottom: 0px;
}
.section__title_theme-white {
  color: #000;
}
.section__subtitle {
  width: 60%;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  text-align: center;
}
.section__subtitle_theme-white {
  margin-top: 20px;
  color: #000;
  margin-bottom: 0px;
}
.table {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.table_theme-white {
  width: 1100px;
  color: #000;
}
.table__cell_theme-white {
  width: 250px;
  margin-top: 60px;
}
.table__heading {
  line-height: 1.15;
  font-size: 24px;
  font-weight: 600;
}
.table__heading_theme-white {
  color: #000;
}
.table__text {
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  margin-top: 20px;
}
.table__text_theme-white {
  color: #000;
}

.feynman {
  height: 890px;
  background-color: #f2f2f2;
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  padding-top: 100px;
  box-sizing: border-box;
}
.feynman__title {
  width: 648px;
  z-index: 3;
  margin: 0;
  text-align: center;
  line-height: 1.15;
  font-size: 120px;
  font-weight: 600;
}
.feynman__subtitle {
  z-index: 3;
  margin-top: 70px;
  text-align: center;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
}
.feynman__link {
  z-index: 3;
  color: #2f80ed;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  position: absolute;
  top: 50%;
  right: 48px;
}
.feynman__background-image {
  width: 867px;
  height: 637px;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 2;
}
.kayfman {
  display: flex;
  flex-direction: column;
  margin: auto;
  align-items: center;
  background-color: #1f1f1f;
  padding-top: 90px;
  overflow: hidden;
  position: relative;
}
.section__title_theme-black {
  color: #fff;
  z-index: 2;
}
.section__subtitle_theme-black {
  margin-top: 20px;
  color: #fff;
  z-index: 2;
}
.table_theme-black {
  width: 1100px;
  color: #fff;
  margin: auto;
  margin-bottom: 90px;
  z-index: 2;
}
.table__cell_theme-black {
  width: 200px;
  margin-top: 80px;
}
.table__heading_theme-black {
  color: #ffffff;
}
.table__text_theme-black {
  color: #fff;
}
.kayfman_triangle {
  position: absolute;
  right: -210px;
  z-index: 1;
  width: 877px;
  height: 877px;
  top: 0;
  box-sizing: border-box;
}

.footer {
  display: flex;
  background-color: #1f1f1f;
  justify-content: center;
  padding: 60px 0px 40px;
}
.footer__column {
  display: flex;
  justify-content: center;
  width: 90%;
  justify-content: space-between;
}
.footer__column_content_copering {
  display: flex;
  flex-direction: column;
  flex-basis: 711px;
}
.logo__place_footer {
  color: #fff;
  margin: 0;
}
.footer__author {
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
  color: #fff;
  margin: 18px 0px;
}

.footer__column_content_info {
  display: flex;
  flex-direction: column;
}
.footer__column-heading {
  margin-bottom: 20px;
  color: #fff;
  margin-top: 0;
}
.footer__column_links {
  color: #fff;
  margin-bottom: 16px;
  text-decoration: none;
}
.footer__column_content_social {
  display: flex;
  flex-direction: column;
  color: #fff;
}
.footer__social-icon {
  width: 16px;
  height: 16px;
  padding-right: 10px;
}
.footer__column-link {
  color: #fff;
  text-decoration: none;
}
.footer__column_last-link {
  margin-bottom: 16px;
}
